<!-- Start Marketing Main Banner -->

    <div class="bg">
        <div class="row">
        <div class="col-lg-6">
          <div class="circulo">
            <div class="circulo-1"></div>
          </div>
        </div>
        <div class="col-lg-6">
            <h1 class="text-bg"><strong>CONVOCA</strong>DATOS</h1>
            <p class="text-bg-1">La plataforma mas grande de datos para </p>
            <p class="text-bg-1">periodistas e investigadores</p>
        </div>
        <div class="col-lg-12">
          <div class="buttons-row">
            <button size="medium" class="color-button" nbButton  >INDUSTRIAS ESTRACTIVAS</button>
            <button size="medium" class="color-button" nbButton  >CONTRATACIONES EN ESSALUD</button>
            <button size="medium" class="color-button" nbButton  >HISTORIAS CON DATOS</button>
            <button size="medium" class="color-button" nbButton  >LABORATORIO DE DATOS</button>
            <button size="medium" class="color-button" nbButton  >METODOLOGÍA CONVOCA</button>
            <button size="medium" class="color-button" nbButton  >CIUDADANOS CON DATOS</button>
          </div>
        </div>
        </div>
    </div>

    <div class="block-1">
      <h1 class="text-title">Industrias Estractivas</h1>
      <p class="commend-block">Los datos que buscabas</p>
      <div class="bar"></div>
      <div class="commend-block1">
        <p>Accede a nuestra plataforma de datos de industrias estractivas con información</p>
        <p>sobre infracciones ambientales y laborales, mapas e información relevante sobre la</p>
        <p>industria de minería, hidrocarburos y gas</p>
      </div>
      <ngx-partner></ngx-partner>
    </div>
